.highway__slider-container {
  padding-top: 30px;
  overflow: hidden;
  grid-area: slider-container;
}

@media screen and (max-width: 1000px) {
  .highway__slider-container {
    justify-self: center;
    padding: 0;
  }
}
