.highway__slider-item {
  min-width: 650px;
}

@media screen and (max-width: $mobile) {
  .highway__slider-item {
    width: 100%;
  }

  .highway__slider-item:nth-child(2),
  .highway__slider-item:nth-child(3) {
    display: none;
  }
}
