.highway__slider-buttons {
  display: flex;
  gap: 20px;
  grid-area: slider-buttons;
}

@media screen and (max-width: $tablet) {
  .highway__slider-buttons {
    gap: 10px;
    margin-top: 0;
    justify-self: flex-end;
  }
}
