/* ---------------------------- colors ---------------------------- */

// for background
$lighterGray: #f4f4f4;
$lightGray: #efefef; // footer only
$darkGray: #333;
$darkerGray: #2f2f2f; // footer only

// for text
$white: #fff;
$veryLightGray: #ededed; // for paragraphs color: #e5e5e5, opacity: 70%
$americanSilver: #cfcfcf; // used for copyright
$mediumDarkGray: #565656; // used for copyright
$semi-gray: #646464; // for paragraphs color: #222, opacity: 70%
$dark: #151515;

// for buttons
$green: #24b47e;

// for inputs
$lightShadeGray: #e3e3e3; // // for dark theme: #7d7d7d, opacity: 50%
$gray: #bebebe; // for light theme: ##C7C7C7, opacity: 50%


/* --------------------------- font-sizes --------------------------- */

$header-size: 55px;
$navbar-size: 14px;
$paragrapgh-size: 18px;
$quote-size: 34px;
$inputs-size: 13px;