@import url(/Users/veronikaantoncik/Desktop/Highway-TT-and-Gravel/vendors/normalize.css);
/* ---------------------------- colors ---------------------------- */
/* --------------------------- font-sizes --------------------------- */
/* page */
.page {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #f4f4f4;
  color: #151515;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  font-style: normal;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  padding-left: 120px;
}

/* title */
.title {
  width: 460px;
  font-size: 55px;
  font-weight: 700px;
  line-height: 60px;
  font-style: normal;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 80px;
}

/* subtitle */
.subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  font-style: normal;
  margin: 0;
  max-width: 230px;
}

.subtitle_place_footer {
  grid-area: title;
}

/* paragraphs */
.text-content {
  width: 460px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 28px;
  font-style: normal;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 50px;
}

/* header */
.header {
  padding-right: 120px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header__navbar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  font-style: normal;
  color: #151515;
  text-align: right;
}

.header__navbar-item {
  padding-left: 34px;
}

.header__navbar-link {
  text-decoration: none;
  color: #151515;
}

.header__navbar-link:hover {
  opacity: 0.75;
}

/* description */
.description {
  display: flex;
  position: relative;
  background: #F4F4F4;
  border: 1px solid red;
}

.description__button {
  margin-top: 66px;
  width: 180px;
  height: 50px;
  border: none;
  background: #24B47E;
  border-radius: 4px;
  cursor: pointer;
}

.description__button-text {
  width: 160px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600px;
  line-height: 18px;
  font-style: normal;
  padding: 0;
  margin: 0;
  list-style: none;
}

.description__brand {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 167px;
  width: 194px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
}

.description__image-forest {
  width: 610px;
  height: 836px;
  margin-left: 248px;
  margin-top: 20px;
}

.description__image-bicycle {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 630px;
  top: 400px;
}

/* footer */
.footer {
  border: 1px dashed plum;
  padding-right: 120px;
  padding-top: 80px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title ." "email ." "copyright switcher";
  gap: 50px;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  font-style: normal;
  color: #cfcfcf;
  grid-area: copyright;
  align-self: flex-end;
}

.footer__email-input {
  font-size: 13px;
  font-weight: 500;
  line-height: 2.15;
  font-style: normal;
  background: transparent;
  padding: 11px 0 11px 20px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  width: 360px;
  box-sizing: border-box;
}

.footer__switch-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  max-width: 135px;
  grid-area: switcher;
  justify-self: flex-end;
  grid-template-columns: repeat(3, auto);
  gap: 22px;
}

.footer__label_for_switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.footer__label_for_email {
  padding-bottom: 35px;
  grid-area: email;
}

.footer__theme-controller {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  border: 0;
  cursor: pointer;
}

.footer__theme-controller-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: .4s;
  border-radius: 12px;
}

.footer__theme-controller-slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background-color: #24B47E;
  left: 2px;
  bottom: 2px;
  border-radius: 100%;
  transition: .4s;
}

.footer__theme-controller:checked + .footer__theme-controller-slider:before {
  transform: translateX(20px);
}
/*# sourceMappingURL=index.css.map */